.leaderboard-container {
  padding: 20px;
  background-color: #f7f9fc; /* 更柔和的背景色 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.player-card {
  position: relative; /* 为排名标签设置相对定位基准 */
  width: calc(100% / 3 - 40px);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); /* 更轻的阴影效果 */
  border-radius: 20px;
  background-color: #ffffff; /* 卡片使用纯白色背景 */
  transition: transform 0.3s ease; /* 平滑放大动效 */
}

.player-card:hover {
  transform: scale(1.05); /* 鼠标悬停时轻微放大 */
}

/* 修改前三名的背景色 */
.gold {
  background-color: #4648db; /* 亮金色 */
}

.silver {
  background-color: #8b88e8; /* 柔和银色 */
}

.bronze {
  background-color: #6470e2; /* 鲜明铜色 */
}

.other-players {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-card-other {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); /* 更轻的阴影效果 */
  border-radius: 10px;
  background-color: #ffffff; /* 统一其他卡片的背景色 */
}

@media (max-width: 768px) {
  .top-players {
    flex-direction: column;
  }
  .player-card {
    width: 80%; /* 增大宽度以适应屏幕 */
  }
  .player-card-other {
    padding: 10px; /* 增加内边距以改善触感 */
  }
}

.player-name {
  font-size: 16px;
  font-weight: bold;
  color: #333333; /* 深色的字体更容易阅读 */
}

.player-score {
  font-size: 18px;
  color: #0d0d0d; /* 亮红色，以提供更好的视觉突出 */
}

/* 前三名玩家 */
.top-players .player-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-players .player-name {
  margin-top: 10px;
  color: #333333; /* 保持与其他名字相同的颜色 */
  font-size: 30px;
}

.top-players .player-score {
  margin-bottom: 10px;
}

/* 排名标签样式 */
.rank-badge {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #ffffff;
  color: #333333;
  padding: 5px 10px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
}
/* 其他玩家卡片的动态效果 */
.player-card-other {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(176, 216, 233, 0.1); /* 更轻的阴影效果 */
  border-radius: 10px;
  background-color: #ffffff; /* 统一其他卡片的背景色 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 平滑的变换和阴影效果 */
}

.player-card-other:hover {
  transform: translateY(-15px); /* 上移效果 */
  box-shadow: 0 4px 8px rgba(158, 223, 241, 0.2); /* 悬停时增强阴影 */
}

